.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9vh;
  background-color: rgb(71, 96, 102);
}

.title {
  color: #f2f2f2;
}

.dashboard {
  width: 100vw;
  height: 91vh;
}

.city-sidebar {
  background-color: rgba(160, 157, 157, 0.135);
  height: 91vh;
}

.weather-forecast {
  height: 91vh;
}

.city-list {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  border-radius: 5px;
  padding: 0;
}

.city-btn {
  width: inherit;
  background-color: transparent;
  text-align: left;
  color: #707070;
  padding-top: .5rem;
  padding-bottom: .5rem;
  border: .5px solid rgb(228, 228, 228);
}

.city-btn:hover {
  color: black;
}

.current-weather-details {
  list-style: none;
  padding-left: 0;
}

.card-body {
  padding-bottom: 0;
}

.card-text {
  margin-bottom: 5px;
}

.extreme { color: rgb(55, 43, 226) }
.very-high { color: red }
.high { color: orange }
.moderate { color: yellow }
.low { color: green }